[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
questionary = "*"
click = "*"
jinja2 = "*"
pyyaml = "*"
psutil = "*"

[dev-packages]
pre-commit = "*"
openai = "*"
python-dotenv = "*"

[requires]
python_version = "3.12"
