apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
spec:
  type: {{ '{{ .Values.service.type }}' }}
  selector:
    app: {{ name }}
  ports:
    - port: {{ '{{ .Values.service.port }}' }}
      targetPort: 80
