replicaCount: {{ replica_count }}

image:
  repository: {{ image_repo }}
  tag: {{ image_tag }}
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

container:
  port: {{ container_port }}

resources:
  enabled: {{ "true" if cpu or memory else "false" }}
  {%- if cpu or memory %}
  requests:
    {%- if memory %}
    memory: "{{ memory }}"
    {%- endif %}
    {%- if cpu %}
    cpu: "{{ cpu }}"
    {%- endif %}
  {%- endif %}
  {%- if cpu or memory %}
  limits:
    {%- if memory %}
    memory: "{{ memory }}"
    {%- endif %}
    {%- if cpu %}
    cpu: "{{ cpu }}"
    {%- endif %}
  {%- endif %}

db:
  enabled: {{ db_enabled | default(false) | lower }}
  {%- if db_type %}
  type: "{{ db_type }}"
  {%- endif %}
  {%- if db_username %}
  username: "{{ db_username }}"
  {%- endif %}
  {%- if db_password %}
  password: "{{ db_password }}"
  {%- endif %}
  {%- if db_database %}
  database: "{{ db_database }}"
  {%- endif %}
  {%- if db_port %}
  portx: {{ db_port }}
  {%- endif %}
  {%- if db_storage %}
  storage: "{{ db_storage }}"
  {%- endif %}

metrics:
  enabled: {{ expose_metrics | default(false) | lower }}
  {%- if expose_metrics %}
  port: {{ metrics_port | default(container_port) }}
  path: {{ metrics_path | default("/metrics") }}
  {%- endif %}
