server:
  alerting:
    alertmanagers:
      - static_configs:
          - targets:
              - "{{ alertmanager_address | default('alertmanager.monitoring.svc.cluster.local:9093') }}"

  resources:
    requests:
      memory: {{ prometheus_memory | default('400Mi') }}
      cpu: {{ prometheus_cpu | default('200m') }}
    limits:
      memory: {{ prometheus_memory | default('800Mi') }}
      cpu: {{ prometheus_cpu | default('400m') }}

  additionalScrapeConfigs:
    - job_name: 'labeled-pods'
      kubernetes_sd_configs:
        - role: pod

      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_monitoring]
          action: keep
          regex: enabled

        - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
          action: replace
          target_label: __metrics_path__
          regex: (.+)

        - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
          action: replace
          target_label: __address__
          regex: (.+):(?:\d+);(\d+)
          replacement: $1:$2

        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace

        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod
